*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  min-height: 100svh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  &:has(dialog:open) {
    overflow: hidden;
  }
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

#app {
  min-height: 100svh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1250px) {
    max-height: fit-content;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

dialog::backdrop {
  pointer-events: all;
}

dialog:open {
  opacity: 1;
  transform: translateY(0);
}

/* Closed state of the dialog   */
dialog {
  opacity: 0;
  transform: translateY(-0.15rem);
  transition:
    opacity 0.125s ease-out,
    transform 0.125s ease-out,
    overlay 0.7s ease-out allow-discrete,
    display 0.7s ease-out allow-discrete;
  /* Equivalent to
  transition: all 0.7s allow-discrete; */
}

/* Before open state  */
/* Needs to be after the previous dialog:open rule to take effect,
    as the specificity is the same */
@starting-style {
  dialog:open {
    opacity: 0;
    transform: translateY(-0.15rem);
  }
}

/* Transition the :backdrop when the dialog modal is promoted to the top layer */
dialog::backdrop {
  background-color: transparent;
  transition: background-color 0.125s;
  /* Equivalent to
  transition: all 0.7s allow-discrete; */
}

@starting-style {
  dialog:open::backdrop {
    background-color: transparent;
  }
}

p,
div {
  width: 100%;
}
