:root {
  --font: 'necto';
  --weight-regular: 400;
  --weight-medium: 600;
  --weight-bold: 800;
}

[data-theme='maxi'] {
  font-size: 18px;

  --bg: oklch(88% 0.04 190);
  --bg-dim: oklch(78% 0.04 190);
  --bg-image: url('../gggrain.svg');

  --element: oklch(95% 0.017 85);
  --element-focus: oklch(87% 0.017 85);
  --element-focusmax: oklch(78% 0.017 85);

  --input-focus: oklch(90% 0.017 85);

  --tag: oklch(90% 0.017 85);
  --tag-focus: oklch(78% 0.017 85);
  --tag-gap: 0.3rem;

  --color: oklch(30% 0.017 85);
  --color-dim: oklch(30% 0.017 85 / 0.6);
  --color-focus: oklch(10% 0.017 85);
  --color-highlight: oklch(64.137% 0.11206 77.645);

  --border-color: oklch(30% 0.017 85);
  --border-focus: oklch(20% 0.017 85);
  --border-width: 2.5px;
  --dashboard-border-width: 2.5px;
  --border-width-header: 2.5px;
  --border: var(--border-width) solid var(--border-color);
  --dashboard-border: var(--dashboard-border-width) solid var(--border-color);
  --border-header: var(--border-width-header) solid var(--border-color);
  --border-radius: 0.6rem;
  --border-radius-small: 0.3rem;

  --icon-color: oklch(30% 0.017 85);
  --icon-focus: oklch(70% 0.017 85);
  --icon-size: 2.1rem;
  --icon-stroke: 2px;

  --favicon-size: 28px;

  --spacing: 0.6rem;
  --spacing-small: 0.3rem;
  --dashboard-spacing: 1.5rem;
  --spacing-list-hr: var(--spacing-small);
  --spacing-list-vr: var(--spacing-small);

  --list-gap: 0.3rem;

  --header-size: 2.1rem;
  --header-bg: var(--element);

  --title-align: center;
  --title-spacing: 0.3rem;
  --title-bg: transparent;
  --title-height: var(--icon-size);

  --item-gap: 0.6rem;

  --scroll-color: var(--color);

  --tab-wrap-bg: transparent;
  --tab-active-bg: var(--element-focus);
}

[data-theme='mini'] {
  font-size: 18px;

  --bg: oklch(98% 0.015 310);
  --bg-dim: transparent;
  --bg-image: none;

  --modal-bg: oklch(96% 0.025 310 / 0.9);
  --modal-spacing: 0.9rem;

  --element: oklch(99% 0.015 310);
  --element-focus: oklch(94% 0.025 310);
  --element-focusmax: oklch(88% 0.035 310);

  --input-focus: oklch(96% 0.025 310);
  --input-bg: oklch(100% 0.025 310);

  --tag: var(--element-focus);
  --tag-focus: var(--element-focusmax);
  --tag-gap: 0.3rem;

  --color: oklch(60% 0.06 310);
  --color-dim: oklch(60% 0.06 310 / 0.6);
  --color-dimmer: oklch(60% 0.06 310 / 0.4);
  --color-focus: oklch(20% 0.06 310);
  --color-highlight: oklch(64.137% 0.11206 77.645);

  --border-color: oklch(80% 0.06 310);
  --border-focus: oklch(20% 0.06 310);
  --border-width: 1px;
  --border-width-header: 1px;
  --border: var(--border-width) solid var(--border-color);
  --border-header: var(--border-width-header) solid var(--border-color);
  --border-radius: 4px;
  --border-radius-small: 4px;

  --icon-color: oklch(57.268% 0.06 310);
  --icon-focus: oklch(70% 0.06 310);
  --icon-size: 1.8rem;
  --icon-stroke: 1.15px;

  --favicon-size: 1.6rem;

  --spacing: 0rem;
  --spacing-small: 0.3rem;
  --spacing-list-hr: 0.3rem;
  --spacing-list-vr: 0.3rem;

  --dashboard-spacing: 1.5rem;
  --dashboard-border-width: 1px;
  --dashboard-border: var(--dashboard-border-width) solid var(--border-color);

  --list-gap: 0.3rem;

  --header-size: 1.8rem;
  --header-bg: var(--bg);

  --title-align: start;
  --title-spacing: 0.3rem;
  --title-height: 1.8rem;
  --title-bg: oklch(96% 0.025 310);
  --title-color: var(--color-dim);

  --item-gap: 0.6rem;

  --scroll-color: oklch(85% 0.06 310);

  --actions-bg: transparent;
  --actions-input-bg: transparent;

  --tab-wrap-bg: var(--bg);
  --tab-active-bg: oklch(96% 0.025 310);
  --tab-inactive-bg: oklch(96% 0.025 310);
}

[data-theme='micro'] {
  font-size: 18px;

  --bg: oklch(96% 0 310);
  --bg-dim: transparent;
  --bg-image: none;

  --modal-bg: oklch(96% 0 310 / 0.9);
  --modal-spacing: 0.9rem;

  --element: oklch(100% 0 310);
  --element-focus: oklch(94% 0 310);
  --element-focusmax: oklch(88% 0 310);

  --input-focus: oklch(96% 0 310);
  --input-bg: oklch(100% 0 310);

  --tag: var(--element-focus);
  --tag-focus: var(--element-focusmax);
  --tag-gap: 0.3rem;

  --color: oklch(60% 0 310);
  --color-dim: oklch(60% 0 310 / 0.6);
  --color-dimmer: oklch(60% 0 310 / 0.4);
  --color-focus: oklch(20% 0 310);
  --color-highlight: oklch(64.137% 0 77.645);

  --border-color: oklch(80% 0 310);
  --border-focus: oklch(20% 0 310);
  --border-width: 1px;
  --border-width-header: 1px;
  --border: var(--border-width) solid var(--border-color);
  --border-header: var(--border-width-header) solid var(--border-color);
  --border-radius: 4px;
  --border-radius-small: 4px;

  --icon-color: oklch(57.268% 0 310);
  --icon-focus: oklch(70% 0 310);
  --icon-size: 1.8rem;
  --icon-stroke: 1.15px;

  --favicon-size: 1.9rem;

  --spacing: 0rem;
  --spacing-small: 0.3rem;
  --spacing-list-hr: 0.3rem;
  --spacing-list-vr: 0.3rem;

  --dashboard-spacing: 1.2rem;
  --dashboard-border-width: 1px;
  --dashboard-border: var(--dashboard-border-width) solid var(--border-color);

  --list-gap: 0.3rem;

  --header-size: 1.8rem;
  --header-bg: var(--bg);

  --title-align: start;
  --title-spacing: 0.3rem;
  --title-height: 1.8rem;
  --title-bg: oklch(92% 0.08 90);
  /* --title-bg: transparent; */
  --title-color: var(--color-dim);

  --item-gap: 0.6rem;

  --scroll-color: oklch(85% 0 310);

  --actions-bg: transparent;
  --actions-input-bg: transparent;

  /* --tab-wrap-bg: var(--element-focus); */
  --tab-wrap-bg: var(--bg);
  --tab-inactive-bg: var(--bg);
  --tab-active-bg: var(--title-bg);
}

html {
  background-color: var(--bg);
  color: var(--color);
  font-family: var(--font);
  font-weight: var(--weight-regular);
  background-image: var(--bg-image);
  background-size: cover;
  font-size: 17px;
}

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

a {
  color: var(--color);

  &:focus {
    color: var(--color-focus);
  }
}
