.hidden {
  display: none !important;
}

.fields {
  background-color: var(--element);
  padding: var(--spacing);
  border-radius: var(--border-radius);
  border: var(--border);
  display: flex;
  flex-flow: column;
  gap: var(--list-gap);
}

.actions {
  width: 100%;
  display: grid;

  &:has(> :nth-child(2)) {
    grid-template-columns: 1fr 2fr;
    gap: var(--spacing);
  }
}
